<div>
    <div id="km-camping-time-tracker" class="km-row" style="background-position: {{pxTimeOffset}}px">
        <button class="km-camping-action" id="km-camping-minus-hour" type="button" data-hours="2"
                title="Retract 2 Hours">
            -2h
        </button>
        <button class="km-camping-action" id="km-camping-minus-hour" type="button" data-hours="1"
                title="Retract 1 Hour">
            -1h
        </button>
        <button class="km-camping-action" id="km-camping-minus-hexploration" type="button"
                title="Retract 1 Hexploration Activity">-1
        </button>
        <div id="km-camping-time">
            <div id="km-camping-time-wrapper">
                {{# isDay}}
                    <i class="fa-regular fa-sun"></i>
                {{else}}
                    <i class="fa-regular fa-moon"></i>
                {{/isDay}}
                <div>{{time}}</div>
            </div>
        </div>
        <button class="km-camping-action" id="km-camping-plus-hexploration" type="button"
                title="Advance 1 Hexploration Activity">+1
        </button>
        <button class="km-camping-action" id="km-camping-plus-hour" type="button" data-hours="1" title="Advance 1 Hour">
            +1h
        </button>
        <button class="km-camping-action" id="km-camping-plus-hour" type="button" data-hours="2"
                title="Advance 2 Hours">
            +2h
        </button>
        <button class="km-camping-action night-mode" id="km-camping-rest" type="button" title="Begin Rest">
            <span>Rest (12:03h) </span><i class="fa-solid fa-bed"></i>
        </button>
    </div>
    <div id="km-camping-hexploration" class="km-row">
        <div><b>Adventuring For: </b> 05:00</div>
        <div><b>Hexploration Activities:</b> 1/3</div>
        <div><label>Region: <select>
            <option>Rostland</option>
        </select></label></div>
        <div id="km-camping-encounter">
            <button type="button"><i class="fa-solid fa-minus"></i></button>
            <div><b>Encounter DC:</b> 12</div>
            <button type="button"><i class="fa-solid fa-plus"></i></button>
            <button type="button"><i class="fa-solid fa-rotate-left"></i></button>
            <button type="button" data-action="roll-encounter"><i class="fa-solid fa-skull"></i></button>
            <button type="button"><i class="fa-solid fa-dice-d20"></i><i class="fa-solid fa-skull"></i></button>
        </div>
    </div>
    <ul class="km-camping-actors">
        {{#each actors}}
            <li class="km-camping-actor" draggable="true" data-uuid="{{uuid}}" data-type="Actor">
                <a href="#" data-uuid="{{uuid}}" data-action="open-actor"><img src="{{image}}" alt="{{name}}"></a>
                <button class="km-camping-action" action="clear" type="button" data-uuid="{{uuid}}"
                        data-location="camping-actors"><i
                        class="fa-regular fa-circle-xmark"></i>
                </button>
            </li>
        {{/each}}
        <li class="km-camping-add-actor">
            <span>Drop Actor from Sidebar</span>
            <i class="fa-solid fa-plus"></i>
        </li>
    </ul>
    <!-- add km-camping-day class to switch to different bg-->
    <div id="km-camping-content" data-terrain="{{terrain}}" data-day="{{isDay}}">
        <button class="km-camping-previous"><i class="fa-solid fa-chevron-left"></i></button>
        <div class="km-camping-activities-wrapper">
            <h1>Prepare Camp</h1>
            <div class="km-camping-activities">
                {{#each activities}}
                    {{> campingTile this}}
                {{/each}}
            </div>
        </div>
        <button class="km-camping-next"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</div>
