<div class="km-camping-activity"
    {{#if locked}}hidden{{/if}}
    {{#if actor}}data-actor-uuid="{{actor.uuid}}"{{/if}}
     data-activity-name="{{name}}"
>
    <header><a href="#" data-uuid="{{journalUuid}}" data-action="open-journal">{{name}}</a>
    </header>
    <div class="km-camping-activity-portrait {{#unless requiresCheck}}km-no-skill-check{{/unless}}">
        {{#if actor}}
            <button class="km-camping-action"
                    data-action="clear-activity"
                    type="button"
                    data-name="{{name}}"><i
                    class="fa-regular fa-circle-xmark"></i></button>
            <a href="#"
               data-uuid="{{actor.uuid}}"
               data-action="open-actor"><img src="{{actor.image}}"></a>
        {{else}}
            <div class="empty-activity">
                <header>Drop Actor from Above</header>
                <i class="fa-solid fa-plus"></i>
            </div>
        {{/if}}
    </div>
    {{#if requiresCheck}}
        <div class="km-camping-activity-check">
            {{> formElement skills }}
            <button class="km-camping-action" data-action="roll-camping-check" type="button"
                    {{#unless actor}}disabled{{/unless}}>
                <i class="fa-solid fa-dice-d20"></i>
            </button>
        </div>
        <div class="km-camping-activity-result">
            {{#if actor}}
                {{> formElement actor.degreeOfSuccess }}
            {{else}}
                <select disabled>
                    <option>-</option>
                </select>
            {{/if}}
        </div>
    {{/if}}
</div>