{{#unless hideLabel}}<label {{#if checkbox}}class="form-element-checkbox-label"{{/if}}>{{label}}{{/unless}}
{{#if select}}
        <select name="{{name}}" {{#if hideLabel}}aria-label="{{label}}"{{/if}} {{#if
                required}}required{{/if}} {{#if overrideType}}data-dtype="{{overrideType}}"{{/if}}>
            {{#if required}}
                {{selectOptions options selected=value}}
            {{else}}
                {{selectOptions options selected=value blank="-"}}

            {{/if}}
        </select>
{{else if number}}
        <input type="number" name="{{name}}" value="{{value}}" {{#if hideLabel}}aria-label="{{label}}"{{/if}} {{#if
                required}}required{{/if}}>
{{else if text}}
        <input type="text" name="{{name}}" value="{{value}}" {{#if hideLabel}}aria-label="{{label}}"{{/if}} {{#if
                required}}required{{/if}} {{#if overrideType}}data-dtype="{{overrideType}}"{{/if}}>
{{else if checkbox}}
        <input type="checkbox" name="{{name}}" {{checked value}}  {{#if hideLabel}}aria-label="{{label}}"{{/if}} {{#if
                required}}required{{/if}}>
{{else if textarea}}
        <textarea name="{{name}}"  {{#if hideLabel}}aria-label="{{label}}"{{/if}} {{#if
                required}}required{{/if}} {{#if overrideType}}data-dtype="{{overrideType}}"{{/if}}>{{value}}</textarea>
{{/if}}
{{#if help}}
        <div class="help">{{help}}</div>
{{/if}}
{{#unless hideLabel}}</label>{{/unless}}