{{#unless hideLabel}}<label {{#if checkbox}}class="form-element-checkbox-label"{{/if}}>{{label}}{{/unless}}
{{#if select}}
    {{value}}
        <select name="{{name}}" {{#if hideLabel}}aria-label="{{label}}"{{/if}}>
            {{#selectAllowsEmpty}}
                {{selectOptions options selected=value blank="-"}}
            {{else}}
                {{selectOptions options selected=value}}
            {{/selectAllowsEmpty}}
        </select>
{{/if}}
{{#if number}}
        <input type="number" name="{{name}}" value="{{value}}"  {{#if hideLabel}}aria-label="{{label}}"{{/if}}>
{{/if}}
{{#if text}}
        <input type="text" name="{{name}}" value="{{value}}"  {{#if hideLabel}}aria-label="{{label}}"{{/if}}>
{{/if}}
{{#if checkbox}}
        <input type="checkbox" name="{{name}}" {{checked value}}  {{#if hideLabel}}aria-label="{{label}}"{{/if}}>
{{/if}}
{{#if textarea}}
        <textarea name="{{name}}"  {{#if hideLabel}}aria-label="{{label}}"{{/if}}>{{value}}</textarea>
{{/if}}
{{#if help}}
        <div class="help">{{help}}</div>
{{/if}}
{{#unless hideLabel}}</label>{{/unless}}