<div>
    <fieldset>
        <legend>Use built in regions</legend>
        <div class="row">
            {{> formElement useStolenLands}}
        </div>
    </fieldset>
    {{#unless useStolenLands.value}}
        <fieldset>
            <legend>Region Overrides</legend>
            <table>
                <thead>
                <tr>
                    {{#each heading}}
                        <th class="{{#each classes}}{{this}}{{/each}}">{{label}}</th>
                    {{/each}}
                </tr>
                </thead>
                <tbody>
                {{#each formRows}}
                    <tr>
                        {{#each this}}
                            <td>{{> formElement this}}</td>
                        {{/each}}
                        <td>
                            {{#if @index}}
                                <button
                                        data-action="delete"
                                        data-index="{{@index}}"
                                        title="Remove Row"
                                >
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            {{else}}
                                <button
                                        data-action="delete"
                                        data-index="{{@index}}"
                                        title="Remove Row"
                                >
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <button data-action="add" class="full-width">Add Region</button>
        </fieldset>
    {{/unless}}
    <button data-action="save" {{#unless isValid}}disabled{{/unless}}>Save</button>
</div>