<h3>{{name}} ({{label}})</h3>
{{#if message}}<p>{{message}}</p>{{/if}}
<button type="button"
        class="km-apply-meal-effect"
        data-degree="{{degree}}"
        data-recipe="{{name}}"
>Apply Meal Effects & Remove Ingredients
</button>
